* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}
h2 {
    background-color: #dbdbdb;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    font-family: 'Open Sans';
}
#color-input {
    display: none;
}
#color-label {
    margin-left: 5px;
    position: absolute;
    height: 30px;
    width: 40px;
    pointer-events: none;
}
#color-input:checked ~ #color-picker {
    opacity: 1;
}
#color-picker {
    position: absolute;
    left: 50px;
    background-color: #e6e6e6;
    height: 250px;
    width: 275px;
    border: solid 1px #ccc;
    opacity: 0;
    padding: 5px;
}
canvas:hover {
    cursor: crosshair;
}
